@import 'switch.css';

:root {
  --background-color: #ffffff;
}

body {
  padding: 100px;
  background-color: var(--background-color);
  overflow: hidden;
}

.night-mode__headline {
  font-size: 50px;
  color: green;
}

.night-mode__heading {
  font-size: 30px;
}

.night-mode--logo {
  height: 130px;
  width: 130px;
}

.night-mode--text {
  font-size: 18px;
  line-height: 25px;
  max-width: 600px;
}

.night-mode {
  border-radius: 3px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

[data-theme="dark"]::before,
[data-theme="dark"]::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}

[data-theme="dark"]::before {
  z-index: 1;
  pointer-events: none;
} 

@supports (mix-blend-mode: difference) {
  [data-theme="dark"]::before {
    background-color: #ffffff;
    mix-blend-mode: difference;
  }
}

[data-theme="dark"]::after {
  background-color: #000000;
  z-index: -1;
} 

@supports (mix-blend-mode: difference) {
  [data-theme="dark"]:after {
    background-color: #ffffff;
  }
} 

/* switch to darkTheme if OS has Dark mode turned on */
 @media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --color: #ffffff;
  }
}
